<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="main" class="com.yet.spring.helloworld.main">
        <constructor-arg ref="provider"/>
        <constructor-arg ref="render"/>
        <constructor-arg ref="interfaseProvider"/>
        <constructor-arg ref="interfaseRender"/>
    </bean>
    
    <bean id="provider" class="com.yet.spring.helloworld.beans.HelloWorldМessageProvider">
        <constructor-arg ref="interfaseProvider"/>
    </bean>
    
    <bean id="render" class="com.yet.spring.helloworld.beans.StandardOutMessageRenderer">
        <constructor-arg ref="interfaseProvider"/>
        <constructor-arg ref="interfaseRender"/>
    </bean>
    
    <bean id="factory" class="com.yet.spring.helloworld.factory.MessageSupportFactory">
        <constructor-arg ref="interfaseProvider"/>
        <constructor-arg ref="interfaseRender"/>        
    </bean>
    
    <bean id="interfaseProvider" class="com.yet.spring.helloworld.interfase.MessageProvider"/>
    <bean id="interfaseRender" class="com.yet.spring.helloworld.interfase.MessageRenderer"/>

</beans>